.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  padding: 5px;
  max-width: 100%;
}

.Day {
  width: 20%;
}

.Slot {
  height: 10%;
  background-color: whitesmoke;
  display: border-box;
  border: 1px solid white;
}

.full {
  background-color: turquoise;
}